## Preprocessing

In [14]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from tensorflow.keras.layers import Dense
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [15]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [16]:
#investigate use case column
unique_counts= application_df.nunique()

In [17]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [18]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(application_types_to_replace,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_value_counts = classification_counts[classification_counts > 1]

classifications_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [22]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[(classification_counts < 100) & (classification_counts > 0)].index

# Replace in dataframe

application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace,"Other")
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [24]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [25]:
# Investigate our training array X
X

array([[       1,     5000,        0, ...,        0,        1,        0],
       [       1,   108590,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       ...,
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1, 36500179,        0, ...,        0,        1,        0]],
      dtype=int64)

In [26]:
# Examine the data type of the second column (Ask Amount) in X
type(X[0][1])

numpy.int64

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Change the second column (Ask Amount)
X = X.astype(float)

# Ensure the second column (Ask Amount) is the correct shape
second_column = X[:,1].reshape(-1,1)

# ONLY scale the "Ask Amount" data
scaled_column = scaler.fit_transform(second_column)


# Return the scaled "Ask Amount" data to its original shape to ensure
# continuity with the rest of the X array
X[:,1] = scaled_column.ravel()

In [28]:

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.25,train_size=.75, random_state=200,stratify = y)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 16
hidden_nodes_layer2 = 16


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,input_dim=number_input_features, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                800

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,089
Trainable params: 1,089
Non-trainable params: 0
_________________________________________________________________

In [30]:
from keras.callbacks import ReduceLROnPlateau
from tensorflow.keras.regularizers import l2, l1
from tensorflow.keras.layers import Dropout

# Introduce a callback function
reduce_lr = ReduceLROnPlateau(monitor='loss', factor=0.1, patience=5, min_lr=0.00001, verbose=1)

# Introduce regularization
# L1 regularization
#nn.add(Dense(8, activation='relu', kernel_regularizer=l1(0.01)))

# L2 regularization
#nn.add(Dense(8, activation='relu', kernel_regularizer=l2(0.01)))

In [31]:
# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.01)
nn.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

In [33]:
# Train the model
fit_model = nn.fit(X_train,y_train, epochs=100, callbacks=[reduce_lr])

Epoch 1/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7311 - lr: 0.0100
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7317 - lr: 0.0100
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7314 - lr: 0.0100
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7314 - lr: 0.0100
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7303 - lr: 0.0100
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7325 - lr: 0.0100
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7316 - lr: 0.0100
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7331 - lr: 0.0100
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7307 - lr: 0.0100
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7334 - lr: 0.0100
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7341 - lr: 0.0100
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7329 - lr: 0.0100
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7343 - lr: 0.0100
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7340 - lr: 0.0100
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7339 - lr: 0.0100
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7334 - lr: 0.0100
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7320 - lr: 0.0100
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7332 - lr: 0.0100
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7341 - lr: 0.0100
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7330 - lr: 0.0100
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7350 - lr: 0.0100
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7333 - lr: 0.0100
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7364 - lr: 0.0100
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7349 - lr: 0.0100
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7341 - lr: 0.0100
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7340 - lr: 0.0100
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7349 - lr: 0.0100
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7338 - lr: 0.0100
Epoch 29/100
789/804 [============================>.] - ETA: 0s - loss: 0.5419 - accuracy: 0.7350
Epoch 29: ReduceLROnPlateau reducing learning rate to 0.0009999999776482583.
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7348 - lr: 0.0100
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7363 - lr: 1.0000e-03
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7365 - lr: 1.0000e-03
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7368 - lr: 1.0000e-03
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7376 - lr: 1.0000e-03
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7376 - lr: 1.0000e-03
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7382 - lr: 1.0000e-03
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7377 - lr: 1.0000e-03
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7385 - lr: 1.0000e-03
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7378 - lr: 1.0000e-03
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7383 - lr: 1.0000e-03
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7381 - lr: 1.0000e-03
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7380 - lr: 1.0000e-03
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7380 - lr: 1.0000e-03
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7380 - lr: 1.0000e-03
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7386 - lr: 1.0000e-03
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7386 - lr: 1.0000e-03
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7379 - lr: 1.0000e-03
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7382 - lr: 1.0000e-03
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7383 - lr: 1.0000e-03
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7384 - lr: 1.0000e-03
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7386 - lr: 1.0000e-03
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7391 - lr: 1.0000e-03
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7388 - lr: 1.0000e-03
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7386 - lr: 1.0000e-03
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7385 - lr: 1.0000e-03
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7385 - lr: 1.0000e-03
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7386 - lr: 1.0000e-03
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7394 - lr: 1.0000e-03
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7383 - lr: 1.0000e-03
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7387 - lr: 1.0000e-03
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7392 - lr: 1.0000e-03
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7389 - lr: 1.0000e-03
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7390 - lr: 1.0000e-03
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7395 - lr: 1.0000e-03
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7394 - lr: 1.0000e-03
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7392 - lr: 1.0000e-03
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7395 - lr: 1.0000e-03
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7390 - lr: 1.0000e-03
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7391 - lr: 1.0000e-03
Epoch 69/100
780/804 [============================>.] - ETA: 0s - loss: 0.5355 - accuracy: 0.7395
Epoch 69: ReduceLROnPlateau reducing learning rate to 9.999999310821295e-05.
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7393 - lr: 1.0000e-03
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7400 - lr: 1.0000e-04
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7398 - lr: 1.0000e-04
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7397 - lr: 1.0000e-04
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399 - lr: 1.0000e-04
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7400 - lr: 1.0000e-04
Epoch 75/100
782/804 [============================>.] - ETA: 0s - loss: 0.5346 - accuracy: 0.7391
Epoch 75: ReduceLROnPlateau reducing learning rate to 1e-05.
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7396 - lr: 1.0000e-04
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7399 - lr: 1.0000e-05

In [237]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5492 - accuracy: 0.7301 - 366ms/epoch - 1ms/step
Loss: 0.5492165684700012, Accuracy: 0.7301457524299622

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")