## Preprocessing

In [58]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from tensorflow.keras.layers import Dense
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [59]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [60]:
#investigate use case column
unique_counts= application_df.nunique()

In [61]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [62]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [63]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [64]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [65]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_value_counts = classification_counts[classification_counts > 1]

classifications_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [66]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[(classification_counts < 100) & (classification_counts > 0)].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace, "Other")
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [67]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [68]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [69]:
y

array([1, 1, 0, ..., 0, 1, 0])

In [70]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [71]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
#hidden_nodes_layer3 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 80)                4000

 dense_33 (Dense)            (None, 30)                2430

 dense_34 (Dense)            (None, 1)                 31

=================================================================
Total params: 6,461
Trainable params: 6,461
Non-trainable params: 0
_________________________________________________________________

In [27]:
X_train

array([[      1,    5000,       0, ...,       0,       1,       0],
       [      1,    5000,       0, ...,       0,       1,       0],
       [      1,    5000,       0, ...,       0,       1,       0],
       ...,
       [      1,  103405,       0, ...,       0,       1,       0],
       [      1,    5000,       0, ...,       0,       1,       0],
       [      1, 1869240,       0, ...,       0,       1,       0]])

In [72]:
from keras.callbacks import ReduceLROnPlateau
from tensorflow.keras.regularizers import l2, l1
from tensorflow.keras.layers import Dropout
reduce_lr = ReduceLROnPlateau(monitor='loss', factor=0.1, patience=5, min_lr=0.00001, verbose=1)

# L1 regularization
#nn.add(Dense(80, activation='relu', kernel_regularizer=l1(0.01)))

# L2 regularization
#nn.add(Dense(80, activation='relu', kernel_regularizer=l2(0.01)))

In [74]:
# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
nn.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

In [75]:
# Train the model
fit_model = nn.fit(X_train,y_train, epochs=100, callbacks=[reduce_lr])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 27510.2344 - accuracy: 0.4977 - lr: 0.0010
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 31020.8125 - accuracy: 0.4885 - lr: 0.0010
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 13686.9111 - accuracy: 0.5135 - lr: 0.0010
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 7987.8584 - accuracy: 0.5106 - lr: 0.0010
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 1967.7109 - accuracy: 0.5290 - lr: 0.0010
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6952 - accuracy: 0.5321 - lr: 0.0010
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6919 - accuracy: 0.5321 - lr: 0.0010
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5321 - lr: 0.0010
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 0.0010
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 0.0010
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 0.0010
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 0.0010
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 0.0010
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 0.0010
Epoch 15/100
801/804 [============================>.] - ETA: 0s - loss: 0.6912 - accuracy: 0.5318
Epoch 15: ReduceLROnPlateau reducing learning rate to 0.00010000000474974513.
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 0.0010
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-04
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-04
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-04
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-04
Epoch 20/100
792/804 [============================>.] - ETA: 0s - loss: 0.6910 - accuracy: 0.5325
Epoch 20: ReduceLROnPlateau reducing learning rate to 1.0000000474974514e-05.
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-04
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 25/100
794/804 [============================>.] - ETA: 0s - loss: 0.6911 - accuracy: 0.5321
Epoch 25: ReduceLROnPlateau reducing learning rate to 1e-05.
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5321 - lr: 1.0000e-05

In [76]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6158 - accuracy: 0.6638 - 487ms/epoch - 2ms/step
Loss: 0.6157851815223694, Accuracy: 0.6637901067733765

In [77]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")